<div class="container">
    <form [formGroup]="LogInForm"  >
     <div class="inputText">
        <label for="username">მომხმარებლის სახელი</label>
        <input pInputText id="username" formControlName="username" />
    </div>
    <div class="password-button">
    <div class="inputText">
        <label for="password">პაროლი</label>
        <input type="password" id="password"  formControlName="password" equired>    
    </div>
    <button label="Submit" (click)="login()" [disabled]="isFormLocked"> შესვლა</button>
    </div>
    <div *ngIf="isFormLocked">
    <p-progressSpinner ariaLabel="loading" />
    </div>
    </form>
</div>
<p-toast />
    