<div class="container">
    <form [formGroup]="SignUpForm"  >
        <p-floatLabel class="form-field">
            <input pInputText id="firstName" formControlName="firstName" />
            <label for="firstName">firstName</label>
        </p-floatLabel>
        <p-floatLabel class="form-field">
            <input pInputText id="username" formControlName="username" />
            <label for="username">username</label>
         </p-floatLabel>
         <p-floatLabel class="form-field">
            <p-password id="password" formControlName="password" [feedback]="false" />
            <label for="password">password</label>
         </p-floatLabel>
         <p-button label="Submit" (click)="signUp()" [disabled]="!SignUpForm.valid" />
    </form>
 </div>
    
    