<form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
  <label>
    Full Name:
    <input formControlName="fullname">
  </label>
  <div formArrayName="questions">
    <div *ngFor="let question of questions.controls; let i = index" [formGroupName]="i">
      <label>
        Question:
        <input formControlName="question">
      </label>
      <label>
        Answer:
        <input formControlName="answer">
      </label>
      <label>
        Important:
        <input type="checkbox" formControlName="important">
      </label>
    </div>
  </div>
  <button type="submit">Submit</button>
</form>
